<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtKHiuds-i2nYKf-q3PFUVZA50jcERDCo</string>
	<key>GCM_SENDER_ID</key>
	<string>591701198356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-33a0b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-33a0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591701198356:ios:2dc895a0589fd672d04901</string>
</dict>
</plist>